<div class="view-wrapper list-page">
  <dx-data-grid
    #gridRef
    id="dataGrid"
    #dataGrid
    [dataSource]="dataSource"
    [width]="'100%'"
    [height]="'90vh'"
    [showBorders]="true"
    [showColumnLines]="false"
    [rowAlternationEnabled]="true"
    [columnAutoWidth]="true"
    (onEditingStart)="onEditingStart($event)"
     (onRowRemoved)="deleteData($event)"
  
    [elementAttr]="{ class: 'custom-popup' }"
    [pager]="{
      showInfo: true,
      infoText: 'Page {0} of {1}',
      showNavigationButtons: true
    }"
  >
    <dxo-scrolling mode="standard"></dxo-scrolling>
    <!-- export -->
    <dxo-export
      [enabled]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>

    <dxo-search-panel
      [visible]="true"
      [highlightCaseSensitive]="true"
    ></dxo-search-panel>

    <dxo-paging></dxo-paging>
    <dxo-pager
      [visible]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 20, 30, 40]"
    ></dxo-pager>

    <dxo-filter-panel [visible]="true"></dxo-filter-panel>

<dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>

    <dxo-header-filter [visible]="true">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>

    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true"
    >
      <dxo-popup
        title="Employee Info"
        [showTitle]="true"
        [width]="800"
        [height]="700"
        [showCloseButton]="true"
      >
      </dxo-popup>
    </dxo-editing>

    <dxo-toolbar>
      <dxi-item
        location="before"
        text="Users"
      ></dxi-item>

      <dxi-item location="after" locateInMenu="auto">
        <dx-button
          icon="plus"
          type="default"
          stylingMode="contained"
          (onClick)="openPopup()"
        ></dx-button>
      </dxi-item>
    </dxo-toolbar>
 
    <dxi-column
      dataField="SlNo"
      [width]="80"
      caption="Sl.No"
      [allowEditing]="false"
      alignment="left"
    >
      
    </dxi-column>
    <dxi-column dataField="USER_NAME" caption="User Name"></dxi-column>
    <dxi-column dataField="LOGIN_NAME" caption="Login Name"></dxi-column>
    <dxi-column
      dataField="IS_INACTIVE"
      caption="Status"
      cellTemplate="statusCellTemplate"
    ></dxi-column>
    <div *dxTemplate="let cellData of 'statusCellTemplate'">
      <i
        class="fas fa-flag"
        [ngClass]="getStatusFlagClass(cellData.value)"
        [attr.title]="cellData.value"
        style="margin-left: 10px; cursor: default;"
      ></i>
    </div>
  </dx-data-grid>
</div>

<!-- ======================Add User=================== -->
<dx-popup
  [(visible)]="addPopup"
  [width]="600"
  height="600"
  title="New User"
  [shading]="false"
  [showCloseButton]="true"
  
>
  <!-- INPUT FIELD -->
  <dx-form [formGroup]="formsource">
    <dxi-item [label]="{ text: 'UserName', showColon: false }">
      <input
        type="text"
        formControlName="UserName"
        class="form-control mb-2"
        label="UserName"
    /></dxi-item>
    <dxi-item [label]="{ text: 'LoginName', showColon: false }">
      <input
        type="text"
        formControlName="LoginName"
        class="form-control mb-2"
      />
    </dxi-item>


    <dxi-item
      [label]="{ text: 'Password', showColon: false }"
      [editorOptions]="{ mode: 'password' }"
    >
    <dx-text-box
        formControlName="LoginPassword"
        class="form-control mb-2"
        [height]="35"
        [inputAttr]="{ autocomplete: 'new-password' }"
        [mode]="passwordMode"
        [buttons]="[
        {
          name: 'togglePassword',
          location: 'after',
          options: {
            icon: passwordMode === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash',
            stylingMode: 'text',
            onClick: togglePasswordVisibility
          }
        }
      ]">
        <!-- <dx-validator>
        <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
      </dx-validator> -->
      </dx-text-box>
    </dxi-item>

    <dxi-item
      [label]="{ text: 'Confirm Password', showColon: false }"
      [editorOptions]="{ mode: 'password' }"
    >
    
      <dx-text-box
        [mode]="confirmPasswordMode"
        formControlName="ConfirmPassword"
        class="form-control mb-2"
        [height]="35"
        [buttons]="[
        {
          name: 'togglePassword',
          location: 'after',
          options: {
            icon: confirmPasswordMode === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash',
            stylingMode: 'text',
            onClick: toggleConfirmPasswordVisibility
          }
        }
      ]"
      >
      <!-- <dx-validator>
        <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
      </dx-validator> -->
    </dx-text-box>
    </dxi-item>
   

    
    <!-- DROPDOWN ROLES -->
    <dxi-item [label]="{ text: 'UserType',showColon:false}">
      <dx-select-box
        [items]="UserType"
        class="mt-2"
        alignment="center"
        [(value)]="selectedUserType"
        formControlName="UserType"
        valueExpr="ID"
        displayExpr="DESCRIPTION"
        [items]="usertype_list"
        (onChange)="onUserTypeChange($event)"
      >
      </dx-select-box
    ></dxi-item>

    <!-- DROPDOWN HOSPITAL -->

    <!-- Hospital Dropdown (Visible Only When "Hospital" is Selected) -->
    <dxi-item>
      <dx-tag-box
        [showClearButton]="true"
        [visible]="selectedUserType===3"
        [items]="department_list"
        valueExpr="ID"
        [(value)]="selectedDepartmentId"
        displayExpr="DESCRIPTION"
        label="Select Department"
        labelMode="floating"
        labelLocation="left"
        [showSelectionControls]="true"
        applyValueMode="instantly"
        [multiline]="false"
        [searchEnabled]="true"
        formControlName="DepartmentId"
        
      >
      </dx-tag-box>
    </dxi-item>

    <!-- BUTTONS -->
    <dxi-item class="d-flex justify-content-end mt-3">
      <button class="me-1 btn text-dark border border-1" (click)="closePop()">
        Cancel
      </button>
      <dx-button
        [width]="60"
        text="Save"
        class="me-1"
        type="default"
        stylingMode="contained"
        (onClick)="addData()"
      ></dx-button>
    </dxi-item>
  </dx-form>
</dx-popup>

<!-- ===================Update User========== -->
<dx-popup
  [title]="'Edit User'"
  [(visible)]="editPopup"
  [width]="600"
  height="600"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
  [shading]="false"
  (onHidden)="closePop()"
  
>
  <!-- INPUT FIELD -->
  <dx-form [formGroup]="formsource">
    <dxi-item [label]="{ text: 'UserName', showColon: false }">
      <dx-text-box formControlName="UserName" class="mb-2"></dx-text-box
    ></dxi-item>
    <dxi-item [label]="{ text: 'LoginName', showColon: false }">
      <dx-text-box formControlName="LoginName" class="mb-2"></dx-text-box
    ></dxi-item>

    <dxi-item
      [label]="{ text: 'Password', showColon: false }"
      [editorOptions]="{ mode: 'password' }"
    >
    <dx-text-box
        formControlName="LoginPassword"
        class="form-control mb-2"
        [height]="35"
        [inputAttr]="{ autocomplete: 'new-password' }"
        [mode]="passwordMode"
        [buttons]="[
        {
          name: 'togglePassword',
          location: 'after',
          options: {
            icon: passwordMode === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash',
            stylingMode: 'text',
            onClick: togglePasswordVisibility
          }
        }
      ]">
        <!-- <dx-validator>
        <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
      </dx-validator> -->
      </dx-text-box>
    </dxi-item>

   <dxi-item
      [label]="{ text: 'Confirm Password', showColon: false }"
      [editorOptions]="{ mode: 'password' }"
    >
    
      <dx-text-box
        [mode]="confirmPasswordMode"
        formControlName="ConfirmPassword"
        class="form-control mb-2"
        [height]="35"
        [buttons]="[
        {
          name: 'togglePassword',
          location: 'after',
          options: {
            icon: confirmPasswordMode === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash',
            stylingMode: 'text',
            onClick: toggleConfirmPasswordVisibility
          }
        }
      ]"
      >
      <!-- <dx-validator>
        <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
      </dx-validator> -->
    </dx-text-box>
    </dxi-item>
   

   <!-- ACTIVE CHECKBOX -->
<dxi-item>
<label for="checboxadd" class="me-5" >Inactive</label>
      <dx-check-box
        class="mt-2"
        formControlName="Inactive"
        [elementAttr]="{ 'aria-label': 'Unchecked' }"
        id="checboxadd"
      ></dx-check-box>
      </dxi-item>

    <!-- DROPDOWN ROLES -->
    <dxi-item [label]="{ text: 'UserType',showColon:false }">
      <dx-select-box
        [items]="UserType"
        class="mt-2"
        alignment="center"
        [(value)]="user_Id_value"
        valueExpr="ID"
        displayExpr="DESCRIPTION"
        [items]="usertype_list"
        (onChange)="onUserTypeChange($event)"
      >
      </dx-select-box
    ></dxi-item>

    <!-- DROPDOWN HOSPITAL -->
    <dxi-item>
      <dx-tag-box
        [visible]="user_Id_value==3 "
        dataField="Department"
        [items]="department_list"
        valueExpr="ID"
        [(value)]="selectedDepartmentId"
        displayExpr="DESCRIPTION"
        label="Select Department"
        labelMode="floating"
        labelLocation="left"
        [showSelectionControls]="true"
        applyValueMode="instantly"
        [multiline]="false"
        [searchEnabled]="true"
        
      >
      </dx-tag-box>
    </dxi-item>

    <!-- BUTTONS -->
    <dxi-item class="d-flex justify-content-end mt-3">
      <button class="me-1 btn text-dark border border-1" (click)="closePop()">
        Cancel
      </button>
      <dx-button
        [width]="60"
        text="Save"
        class="me-1"
        type="default"
        stylingMode="contained"
        (onClick)="editData()"
      ></dx-button>
    </dxi-item>
  </dx-form>
</dx-popup>
