<div class="view-wrapper list-page">
    <dx-data-grid

        id="dataGrid"
        #dataGrid
        [width]="'100%'"
        [height]="'90vh'"
        [dataSource]="dataSource"
        [showBorders]="true"
        [showColumnLines]="true"
        (onEditingStart)="onEditingStart($event)"
        [rowAlternationEnabled]="true"
        [columnAutoWidth]="true"
         (onRowRemoved)="deleteData($event)"
        (onExporting)="onExporting($event)"
        [pager]="{ 
          showInfo: true, 
          infoText: 'Page {0} of {1}', 
          showNavigationButtons: true 
        }"
        >
        <dxo-scrolling mode="standard"></dxo-scrolling>
        <dxo-export
        [enabled]="true"
        [formats]="['xlsx', 'pdf']"
      >
      </dxo-export>
    
      <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true">
        
       
        <dxo-popup
        title="Employee Info"
        [showTitle]="true"
        [width]="700"
        [height]="525"
        [showCloseButton]="true"
        [width]="PopupWidth"
      >
    
      </dxo-popup>
    
    </dxo-editing>
    <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="true"
      ></dxo-search-panel>
    
     
    
      <dxo-paging></dxo-paging>
      <dxo-pager
      [visible]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10,20,30,40]"
      ></dxo-pager>
      
      <dxo-header-filter [visible]="true">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
    
    <dxo-toolbar>
      
        <dxi-item
        location="before"
        text="Schema"
      ></dxi-item>
    
        <dxi-item location="after" locateInMenu="auto">
          <dx-button
            icon="plus"
            type="default"
            stylingMode="contained"
            (onClick)="openPopup()"
           ></dx-button>
        </dxi-item>
     
    
        
       <!-- Enable export options -->
       <dxi-item name="exportButton"> </dxi-item> 
      
    
        <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>
        
    </dxo-toolbar>
    

    <!-- <dxi-column dataField="SlNo" [width]="80" caption="Sl.No" [allowEditing]="false" alignment="left"></dxi-column> -->
    <dxi-column dataField="SCHEMA_NAME"  caption="Schema" ></dxi-column>
    <dxi-column dataField="DISCOUNT" caption="Discount(%)" alignment="left" cellTemplate="priceTemplate" ></dxi-column>
    <div *dxTemplate="let cellData of 'priceTemplate'">
  {{ formatAsPercentage(cellData.value) }}
</div>


    <dxi-column dataField="IS_INACTIVE" caption="status"   cellTemplate="statusCellTemplate"></dxi-column>
    <div *dxTemplate="let cellData of 'statusCellTemplate'">
      <i
        class="fas fa-flag"
        [ngClass]="getStatusFlagClass(cellData.value)"
        [attr.title]="cellData.value"
        style="margin-left: 10px; cursor: default;"
      ></i>
    </div>
    </dx-data-grid>
    </div>


     <!-- ADD DATA -->
      <dx-popup
    [(visible)]="addPopup"
    [width]="400"
    [height]="280"
    title="Schema"
    [shading]="false"
    [showCloseButton]="true"
    [width]="PopupWidth"
    >
    <form [formGroup]="formsource" class="mt-3">
      
      <dxi-item dataField="SCHEMA_NAME">
        <input
        formControlName="Schema" class=" form-control" type="text"  placeholder="Schema" >
      <!-- </input> -->
      </dxi-item>
     
      <dxi-item dataField="DISCOUNT">
        <dx-number-box
        formControlName="Discount" class=" form-control mt-3" type="text" placeholder="Discount" [min]="0"
    [max]="100"
    [showSpinButtons]="true"
  >
  <!-- <dx-validator> -->
    <!-- Required -->
    <!-- <dxi-validation-rule
      type="required"
      message="Discount is required"
    ></dxi-validation-rule>
  </dx-validator> -->
</dx-number-box>
      </dxi-item>
      <!-- <div *ngIf=" formsource.get('Discount')?.touched && formsource.get('Discount')?.invalid">
  <small class="text-danger" style="margin-left: 90px;font-weight: 500;">*This field is required</small>
</div> -->
   
   

     <!-- <dxi-item
     dataField="IS_INACTIVE" [label]="{ text: 'Inactive', showColon: false }">
          <dx-check-box
          text="Inactive"
          formControlName="Inactive"
            [value]="false"
            [elementAttr]="{ 'aria-label': 'Unchecked' }"
            class="mt-3"
          ></dx-check-box>
        </dxi-item> -->

          <div class="d-flex justify-content-end mt-4">
            <button class="btn me-1 text-dark border border-1 equal-button" (click)='closePop()'>Cancel</button>
            <dx-button text="Save"  class="equal-button" type="default" stylingMode="contained" (onClick)="addData()"></dx-button>
              </div>
    </form>
     
    </dx-popup>


     <!-- EDIT DATA -->
    <dx-popup
        [title]="'Edit Schema'"
        [(visible)]="editPopup"
        [width]="400"
        [height]="280"
        [closeOnOutsideClick]="true"
        [showCloseButton]="true"
        [shading]="false"
        [width]="PopupWidth"
      >
        <form [formGroup]="formsource" class="mt-3">
          <dxi-item>
            <input formControlName="Schema" label="Schema" class=" form-control" type="text"  placeholder="Schema" >
          </dxi-item>

          <dxi-item >
        <dx-number-box
         [(value)]="formsource.get('Discount').value"
  (onValueChanged)="onDiscountChange($event)" class=" form-control mt-3" type="text" placeholder="Discount"></dx-number-box>
        </dxi-item>
        
          <dxi-item>
          <dx-check-box
          text="Inactive"
            [value]="false"
            [elementAttr]="{ 'aria-label': 'Unchecked' }"
            class="mt-3"
            formControlName="Inactive"
          ></dx-check-box>
        </dxi-item>
    
          <dxi-item class="d-flex justify-content-end mt-3">
            <button class="btn me-1 text-dark border border-1 equal-button" (click)="closePop()">
              Cancel
            </button>
            <dx-button class="equal-button" text="Update" type="default" stylingMode="contained" (onClick)="editData()"></dx-button>
          </dxi-item>
        </form>
      </dx-popup>