.form-flex-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px; /* spacing between fields */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  
}
.applybtn{
  // margin-top: 50px; /* space above the button */
  margin-left: 190px;
}

.form-item {
  flex: 0 0 auto;
  margin-top: 10px; /* spacing around each form item */}

   /* Set popup height */
.custom-date-popup .dx-popup-content {
  height: 250px; /* or any height you want */
}

/* Style the Apply button */
.custom-apply-btn {
  background-color: #007bff; /* Bootstrap primary blue */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}

.custom-apply-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}



/* Hide the close (×) button */
::ng-deep .dx-tag-remove-button {
  display: none !important;
}

/* Remove background, border, and shadow from selected tags */
::ng-deep .dx-tag-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 2px 6px !important;
  color: inherit !important;
}

/* Optional: reduce spacing between items */
::ng-deep .dx-tag {
  margin: 0 4px 0 0 !important;
}
