<div class="login-page">
  <!-- LEFT SIDE -->
  <div class="left-side">
    <div class="login-bg"></div>
    <div class="cover-img"></div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right-side">
    <div class="right-content">
      <div class="login-box">
        <img
          src="/assets/Images/mchLogo.png"
          class="hospital-logo"
          alt="Logo"
        />
        <h2 class="hospital-name">VEZTA BILLING</h2>
        <p class="login-caption">Log in</p>

        <form class="login-form" (submit)="onSubmit($event)">
          <dx-form
            [formData]="formData"
            [disabled]="loading"
            [showColonAfterLabel]="true"
            [showRequiredMark]="false"
          >
            <!-- Username Field -->
            <dxi-item
              dataField="LOGIN_NAME"
              editorType="dxTextBox"
              [editorOptions]="{
                placeholder: 'Username',
  inputAttr: {
    style: 'color: black;'
  },
                buttons: [
                  {
                    name: 'userIcon',
                    location: 'before',
                    options: {
                      icon: 'user',
                      stylingMode: 'text',
                      disabled: true,
                      cssClass: 'input-icon'
                    }
                  }
                ]
              }"
            >
              <dxi-validation-rule
                type="required"
                message="Username is required"
              ></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <!-- Password Field -->
            <dxi-item
              dataField="PASSWORD"
              editorType="dxTextBox"
              [editorOptions]="{
                placeholder: 'Password',
                stylingMode: 'outlined',
                mode: isPasswordVisible ? 'text' : 'password',
                      inputAttr: {
    style: 'color: black;'
  },
                buttons: [
                  {
                    name: 'lockIcon',
                    location: 'before',
                    options: {
                      icon: 'lock',
                      stylingMode: 'text',
                      disabled: true,
                      cssClass: 'input-icon'
                    }
                  },
                  {
                    name: 'passwordToggle',
                    location: 'after',
                    options: {
                      icon: isPasswordVisible
                        ? 'fas fa-eye'
                        : 'fas fa-eye-slash',
                      onClick: togglePasswordVisibility,
                      stylingMode: 'text',
                      cssClass: 'password-toggle-button'
                    }
                  }
                ]
              }"
            >
              <dxi-validation-rule
                type="required"
                message="Password is required"
              ></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <!-- Log In Button -->
            <dxi-item itemType="button">
              <dxo-button-options
                width="100%"
                type="default"
                cssClass="btn-sign-in"
                [useSubmitBehavior]="true"
                [template]="'signInTemplate'"
              ></dxo-button-options>
            </dxi-item>

            <!-- Button Template -->
            <ng-container *dxTemplate="let item of 'signInTemplate'">
              <span class="dx-button-text">
                <ng-container *ngIf="loading; else notLoading">
                  <dx-load-indicator
                    width="30px"
                    height="30px"
                    [visible]="true"
                  ></dx-load-indicator>
                </ng-container>
                <ng-template #notLoading>Log In</ng-template>
              </span>
            </ng-container>
          </dx-form>

        </form>
      </div>
    </div>
  </div>
</div>
