.equal-button {
  width: 80px;     /* adjust as needed */
  height: 30px;     /* adjust to match desired size */
  padding: 0;
  font-size: 14px;
  text-align: center;
}

.flag-red {
    color: red;
  }
  
  .flag-green {
    color:green;
  }