<div class="view-wrapper list-page">
    <div class="grid-container">
        <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'85vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true
      }"
      class="grid theme-dependent"
      [dataSource]="invoices"
      [showBorders]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [headerFilter]="{ visible: true }"
      [allowColumnReordering]="true"
      [filterRow]="{ visible: true, applyFilter: 'auto' }"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [headerFilter]="{ visible: true }"
      [scrolling]="{ mode: 'standard' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
    >
<dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowDeleting]="true"
      ></dxo-editing>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="standard"></dxo-scrolling>
      <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="false"
      ></dxo-search-panel>
      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="true"
        [formats]="['xlsx', 'pdf']"
      >
      </dxo-export>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Invoice</div>
        </dxi-item>
       
        <dxi-item location="after" locateInMenu="auto"> </dxi-item>
        <!-- <dxi-item location="after" locateInMenu="auto">
          <dx-button
            icon="plus"
            type="default"
            hint="Add User"
            stylingMode="contained"
            (onClick)="addInvoice()"
          ></dx-button>
        </dxi-item> -->
      </dxo-toolbar>

        <dxi-column dataField="Department" caption="Department"></dxi-column>
  <dxi-column dataField="UHID" caption="UHID"></dxi-column>
  <dxi-column dataField="patientName" caption="Patient Name"></dxi-column>
</dx-data-grid>
    </div>
</div>



<dx-popup
  [(visible)]="addInvoicePopupOpened"
  [width]="'60vw'"
  [height]="'80vh'"
  title="User"
  (onHiding)="handleClose()"
>
</dx-popup>

